
.panels-choose-layout .form-type-radio {
  margin: 0 !important;
  width: 125px !important;
}

.panels-choose-layout .form-radio {
  margin: 5px 0 !important;
  width: 100px !important;
}

.layout-icon,
.layout-link {
  height: 185px !important;
  margin: 0 40px 40px 0 !important;
  padding: 0 !important;
  width: 125px !important;
}

.layout-icon .caption {
  margin: 0 !important;
  width: auto !important;
}
